---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    <div class="site-header">
      <div class="site-banner">
        <img src="{{ base_path }}/images/leviathan_banner.jpg?v={{ site.time | date: '%s' }}" alt="Detail from the frontispiece of Leviathan by Thomas Hobbes">
      </div>
      {% include masthead.html %}
    </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
